## Leet Code Problems

**Easy Problem 2879: Display the Firtst Three Rows**

Write a solution to display the first 3 rows of this DataFrame.

In [13]:
import pandas as pd

def selectFirstRows(employees):
    return employees.head(3)

In [14]:
student_data= [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

players = pd.DataFrame(student_data, columns=['student_id', 'age'])

In [15]:
selectFirstRows(players)

   student_id  age
0           1   15
1           2   11
2           3   11